 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

 #main{
    height: 100%;
    width: 100%;
    background-color: gray;
 }

 #a{
    height: 20%;
    width: 100%;
    background-color: red;
 }


 #b{
    height: 70%;
    width: 100%;
    background-color: rgb(30, 255, 0);
    display: flex;
 }
#c{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}
  
#b1{
    height: 100%;
    width: 50%;
    background-color: white;
}

#b2{
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
}


#b11{
    height: 60%;
    width: 100%;
    background-color: white;
}

#b22{
    height: 25%;
    width: 100%;
    background-color: white;
}

#b33{
    height: 15%;
    width: 100%;
    background-color: white;
}
  
 
  